# shellcheck disable=SC2148
# This is production environment variables
export SUPABASE_URL="http://localhost:54321"
export SUPABASE_ANON_KEY="ey..."
# Get your key at https://platform.openai.com/account/api-keys
export OPENAI_KEY="sk-UY..."
# in dev we can use a lesser version to save some coins
# OPENAI_MODEL=gpt-3.5-turbo
export OPENAI_MODEL="gpt-3.5-turbo-16k"
# OPENAI_MODEL=gpt-4
export PORT="8080"
